name: Deploy Frontend to GitHub Pages

on:
  push:
    branches:
      - main  # Trigger deployment on pushes to the main branch
    paths:
      - 'frontend/**' # Only trigger if files in the frontend directory change
  repository_dispatch:
    types: [deploy_frontend] # Trigger when GAS setup() script sends this event

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate frontend config
        if: github.event_name == 'repository_dispatch'
        run: |
          echo "const CONFIG = {" > frontend/config.js
          echo "    API_URL: '${{ github.event.client_payload.api_url }}'," >> frontend/config.js
          echo "    LIFF_ID: '${{ github.event.client_payload.liff_id }}'" >> frontend/config.js
          echo "};" >> frontend/config.js

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './frontend' # Upload the frontend directory

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
